@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-16 08:07:10
 * @version $Id$
 * 
 */
* {
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
}
.box1 {
    width: 1000px;
    height: 30px;
    border-bottom: 1px solid #000;
}
.box2 {
    width: 1000px;
    height: 20px;
    background: #eee;
}
.box1 + .box1{
    margin-top: 10px;
}
.box3 {
    width: 300px;
    height: 100px;
    border: 1px solid #000;
}